html, body {
  height: 100%; /* Ensure html and body cover the entire height */
  margin: 0; /* Remove default margin */
}

body {
  padding: 0; /* Remove default padding */
  background-image: url('../public/backImge.jpg'); /* Path to your image */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating the image */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}